* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #383838;
}
html,
body {
  height: 100%;
}
.container {
  height: 100%;
}
.column-view {
  margin: 0;
  padding: 0;
  border-right: solid 1px #ccc;
  list-style-type: none;
}
.column-view li a {
  display: block;
  padding: 10px 20px 10px 20px;
  border-bottom: solid 1px #ccc;
}
.column-view li a:hover {
  color: #00f;
}
.column-view li a.selected {
  background: #ccc;
}
.column-view li a.highlight {
  color: #fff;
  background: #383838;
}
